body{
    background-image: url(op.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
.parent{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
div{
  display: flex;
  justify-content: space-evenly;
}
div img{
  width: 300px;
  height: 500px;
  border-radius: gray;
  display: block;
  align-content: space-between;
}
.im , .aa{
  background-color: rgb(189, 183, 175);
  margin: 50px;
  display: block;
}
 .bt, a{
  color:  rgb(27, 6, 19);
  padding:10px;
  margin: -14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-position: bottom left;
 }
 .btn, a{
  color:  rgb(27, 6, 19);
  padding:10px;
  margin: -14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-position: bottom left;
  text-decoration: none;
 }
 form, a:hover{background-color: rgba(101, 119, 112, 0.884);}


 button:hover{
  background-color: rgba(185, 155, 116, 0.658);
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 25px;
  transition: 1.5s;
  -webkit-transition:1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;   
}


















